@{
    ViewData["Title"] = "Portfolio | Kaio Henrique";
}

<div class="container-about">
    <h2 class="title-about">About Me</h2>
</div>
<div class="container-contents">
    <nav class="nav-contents">
        <ul class="container-options">
            <li class="options">
                <a href="">Skills</a>
            </li>
            <li class="options">
                <a href="">Projects</a>
            </li>
            <li class="options">Contact</li>
        </ul>
    </nav>
</div>
